<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>

    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
</head>
<body>
<form class="layui-form">
    <div class="layui-form-item" th:each="role : ${roleData}">
        <label class="layui-form-label" th:text="${role.roleName}">复选框</label>
        <div class="layui-input-block">
            <input type="checkbox" th:checked="${role.isChecked()}" th:value="${role.roleId}" name="roleIds"
                   lay-skin="switch">
        </div>
    </div>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="submit()" lay-submit lay-filter="*">立即提交</button>
    </div>
</div>
</body>

<script th:inline="javascript">
    var userId = [[${userId}]];
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });

    function submit() {
        var checkArray = $(".layui-form-onswitch");
        var json = new Object();
        var roleIds = new Array();
        var i = 0;
        if (checkArray.length > 0) {
            for (var j = 0; j < checkArray.length; j++) {
                roleIds[i++] = $(checkArray[j]).parent().children(":checkbox").val();
            }
        }
        json.userId = userId;
        json.roleIds = roleIds;
        $.post('/user/setRole',json,function(data){
            if(data.isSuccess){
                layer.open({
                    title: '提示信息'
                    , content: '添加成功'
                });

            }else{
                layer.open({
                    title: '提示信息'
                    , content: '添加失败'
                });
            }
        })
    }
</script>
</html>