<!DOCTYPE html>
<html style="height: 100%" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>hbase操作首页</title>

    <script type="text/javascript" src="/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqx-all.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <script type="text/javascript" src="/common/common.js"></script>

    <link rel="stylesheet" type="text/css" href="/jqwidgets/styles/jqx.base.css"/>
    <link rel="stylesheet" type="text/css" href="/layer/skin/default/layer.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>

    <style type="text/css">

        .search-single .search-input {
            float: left;
            height: 32px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 15px;
        }

        /* 不同宽度的input */
        .input-middle {
            width: 250px;
        }

        /* 不同宽度的input */
        .input-middle1 {
            width: 300px;
        }

        .input-small {
            width: 150px;
        }

        .input-large {
            width: 600px;
        }

        /* 重载jqwidget的button效果 */
        .selectButton .jqx-button {
            position: relative;
            float: left;
            padding: 10px 20px;
        }

        .selectButton .jqx-button:hover {
            cursor: pointer;
            transition-duration: 0.3s;
            -moz-transition-duration: 0.3s; /* Firefox 4 */
            -webkit-transition-duration: 0.3s; /* Safari 和 Chrome */
            -o-transition-duration: 0.3s; /* Opera */
        }

        .jqx-grid-cell:hover {
            transition-duration: 0.3s;
            -moz-transition-duration: 0.3s; /* Firefox 4 */
            -webkit-transition-duration: 0.3s; /* Safari 和 Chrome */
            -o-transition-duration: 0.3s; /* Opera */
        }

        .deleteButton {
            margin-left: 5px;
            color: #8584c6;
        }

        .deleteButton:hover {
            text-decoration: underline;
            cursor: pointer;
            transition-duration: 0.3s;
            -moz-transition-duration: 0.3s; /* Firefox 4 */
            -webkit-transition-duration: 0.3s; /* Safari 和 Chrome */
            -o-transition-duration: 0.3s; /* Opera */
        }

    </style>
</head>

<body>

<!-- 查询框 -->
<div class="search">
    <div class="search-single">
        <input type="text" id="rowKey" name="rowKey" class="search-input input-middle checkNotNull"
               placeholder="rowKey"/> <!-- 默认查询一个人的数据（方便观看） -->
        <select id="dataType" class="search-input" style="height: 38px;">
            <option value="0">身份证</option>
            <option value="1">护照</option>
            <option value="2">军官证</option>
            <option value="3">港澳通行证</option>
            <option value="4">银行卡</option>
            <option value="5">手机号</option>
            <option value="6">电子邮箱</option>
            <option value="7" selected="selected">UID</option>
            <option value="8">OPENID</option>
            <option value="99">其他</option>
        </select>
        <select id="tppCode" class="search-input" style="height: 38px;">
            <option value="">全部</option>
            <option value="baidu">baidu</option>
            <option value="bairong">bairong</option>
            <option value="BHCASH">BHCASH</option>
            <option value="BXCASH">BXCASH</option>
            <option value="BYXFCASH">BYXFCASH</option>
            <option value="ccx">ccx</option>
            <option value="EG">EG</option>
            <option value="EGC">EGC</option>
            <option value="Elong">Elong</option>
            <option value="face">face</option>
            <option value="guozt">guozt</option>
            <option value="GY">GY</option>
            <option value="HCJF">HCJF</option>
            <option value="hjxhcredit">hjxhcredit</option>
            <option value="HYCASH">HYCASH</option>
            <option value="HYXFCASH">HYXFCASH</option>
            <option value="jdxb">jdxb</option>
            <option value="JM">JM</option>
            <option value="JMC">JMC</option>
            <option value="juxinli">juxinli</option>
            <option value="kaola">kaola</option>
            <option value="LHP">LHP</option>
            <option value="LKLCASH">LKLCASH</option>
            <option value="maimai">maimai</option>
            <option value="moxie">moxie</option>
            <option value="MSLOANPBC">MSLOANPBC</option>
            <option value="NJC">NJC</option>
            <option value="paqufy">paqufy</option>
            <option value="paquwd">paquwd</option>
            <option value="paquxx">paquxx</option>
            <option value="pinganqianhai">pinganqianhai</option>
            <option value="Qunar" selected="selected">Qunar</option>
            <option value="SCLOAN">SCLOAN</option>
            <option value="shujutang">shujutang</option>
            <option value="shumei">shumei</option>
            <option value="tongdun">tongdun</option>
            <option value="upopadvisor">upopadvisor</option>
            <option value="WXJKC">WXJKC</option>
            <option value="zhima">zhima</option>
        </select>
        <input type="text" id="characterCode" name="characterCode" class="search-input input-small" placeholder="指标名"/>
        <input type="text" id="dbTableName" name="dbTableName" class="search-input input-middle1" placeholder="所属库表名"
               style="float: right;" readonly="readonly"/>
        <!--<div id="selectButton" class="selectButton">
            <button id="QCREDIT_DATA">查征信数据</button>
        </div>-->
        <button id="QCREDIT_DATA" onclick="queryCredit(this)" class="layui-btn layui-btn layui-btn-lg" data-type="auto">
            查征信数据
        </button>

    </div>
</div>

<!-- 数据表格 -->
<div id="hbaseDataGrid"></div>

<!-- 底部占位行 -->
<div id="divBotton" style="height: 100px; border: none"></div>

</body>

<script th:inline="javascript">
    /* 不要删掉这行!!! <![CDATA[ */

    /* 默认查询参数 */
    var table = 'QCREDIT_DATA';
    $(document).ready(function () {
        /* 构造界面样式 */
        buildStyle(parent.MAIN_STYLE);
        /* 上来之后默认查询 */
        // loadDataTable(table);
    });

    /* 构造界面样式 */
    function buildStyle(styleName) {
        if ('dark' == styleName) {
            $('.search-input').css('height', '34px');
            $('.search-input').css('padding-left', '5px');
            $('.search-input').css('color', '#8584c6');
            $('.search-input').css('background-color', '#2f2f53');
            $('.search-input').css('border', 'none');
            $('.jqx-button').css('color', '#FFFFFF');
            $('.jqx-button').css('background-color', '#2f2f53');
            $('.jqx-button').css('border', 'none');
            $('.jqx-button').hover(function () {
                $(this).css('background-color', '#4377b9');
            }, function () {
                $(this).css('background-color', '#2f2f53');
            });
            $('.jqx-grid').css('border', 'none'); // 重载jqwidget的表格效果
            $('.jqx-widget-header').css('border', 'none');
            $('.jqx-widget-header').css('background-color', '#202038');
            $('.jqx-grid-cell').css('color', '#8584c6');
            $('.jqx-grid-cell').css('border', 'none');
            $('.jqx-grid-cell').css('background-color', '#202038');
            $('.jqx-grid-cell').hover(function () {
                $(this).css('background-color', '#36365f');
            }, function () {
                $(this).css('background-color', '#202038');
            });
            $('.jqx-input').css('border', 'none');
            $('.jqx-input').css('background-color', '#FFFFFF');
            $('.jqx-grid-column-header').css('color', '#9f9eed');
            $('.jqx-grid-column-header').css('background-color', '#1A1B2F');
            $('.jqx-grid-column-header').css('font-weight', 'bold');
        }
    }

   /* /!* 查询按钮组 *!/
    $("#selectButton").jqxButtonGroup({
        mode: 'radio',
        template: 'default'
    });
    $("#selectButton").on('buttonclick', function (event) {
        var clickedButton = event.args.button;


    });*/

    function queryCredit(btn){
        table = $(btn)
        loadDataTable(table);
    }

    /* 异步获取库表名 */
    function asyncGetDbTableName() {
        $.ajax({
            url: '/creditData/getDbTableName',
            data: {
                rowkey: $("#rowKey").val()
            },
            type: "POST",
            dataType: "json",
            success: function (result) {
                $("#dbTableName").val(result.data);
            }
        });
    }

    /* 回车触发查询 */
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            loadDataTable(table);
        }
    };

    /* 查询数据 */
    var delFlag = [[${authMap.hbaseDelBtn}]];

    function loadDataTable(table) {
        layer.load(1);
        if (!checkParams()) {
            layer.closeAll('loading');
            return;
        }
        var source = {
            datatype: "json",
            datafields: [
                {name: 'rowKey', type: 'string'},
                {name: 'tppCode', type: 'string'},
                {name: 'characterCode', type: 'string'},
                {name: 'characterValue', type: 'string'},
                {name: 'updateTime', type: 'date'},
                {name: 'rowUpdateTime', type: 'date'}
            ],
            id: 'key',
            url: '/creditData/queryCreditDataList?rowKey=' + $('#rowKey').val() + '&dataType=' + $('#dataType').val() + '&tppCode=' + $('#tppCode').val() + '&characterCode=' + $('#characterCode').val()
        };
        var dataAdapter = new $.jqx.dataAdapter(source, {
            downloadComplete: function (data, status, xhr) {
            },
            loadComplete: function (data) {
                buildStyle(parent.MAIN_STYLE); // 加载完成后，自动再构造一遍页面效果
            },
            loadError: function (xhr, status, error) {
                layer.msg(JSON.parse(xhr.responseText).message, function () {
                });
            },
            beforeLoadComplete: function (records) { // 修饰数据
                asyncGetDbTableName();

                if (delFlag != '1') {
                    return;
                }
                for (var v = 0; v < records.length; v++) {
                    /* 1. 所有行增加删除按钮 */
                    records[v].function = '<a class="deleteButton" onclick="deleteHbaseCharacter(\'' + records[v].characterIndex + '\', \'' + records[v].tppCode + '\', \'' + records[v].characterCode + '\')">删掉</a>'
                        +'<a class="deleteButton" onclick="editCharacter()">编辑</a>';
                }
                /*   }else{
                       $("#dbTableName").val("")
                   }*/
                return records;
            }
        });
        $("#hbaseDataGrid").jqxGrid({
            width: '100%',
            source: dataAdapter,
            pageable: false,
            autoheight: true,
            sortable: true,
            editable: false,
            columnsresize: true,
            selectionMode: 'multiplecellsadvanced',
            rowsheight: 35,
            columns: [
                {text: '指标维度', datafield: 'rowKey', editable: false, width: '13%'},
                {text: '通道', datafield: 'tppCode', editable: false, width: '8%'},
                {text: '指标名', datafield: 'characterCode', editable: false, width: '8%'},
                {text: '指标值', datafield: 'characterValue', editable: true, width: '35%'},
                {
                    text: '指标生成时间',
                    datafield: 'updateTime',
                    editable: false,
                    width: '15%',
                    cellsformat: 'yyyy-MM-dd HH:mm:ss'
                },
                {
                    text: '指标实时更新时间',
                    datafield: 'rowUpdateTime',
                    editable: false,
                    width: '15%',
                    cellsformat: 'yyyy-MM-dd HH:mm:ss'
                },
                {text: 'function', datafield: 'function', editable: false, width: '8%'}
            ]
        });
        layer.closeAll('loading');
    }

    /* 结束编辑，调用update方法 */
    $("#hbaseDataGrid").on('cellendedit', function (event) {
        var args = event.args;
        $.ajax({
            url: '/creditData/updateCreditCharacter',
            data: {
                rowKey: $('#rowKey').val(),
                tppCode: args.row.tppCode,
                characterCode: args.row.characterCode,
                oldValue: args.row.characterValue,
                newValue: args.value
            },
            async: false,
            type: "POST",
            dataType: "json",
            success: function (data) {
                layer.msg(data.data);
                loadDataTable(table);
            },
            error: function (data) {
                var message = JSON.parse(data.responseText).message;
                layer.msg(message, function () {
                });
            }
        });
        $("#hbaseDataGrid").jqxGrid({editable: false});
    });

    /* 删除指标 */
    function deleteHbaseCharacter(characterIndex, tppCode, characterCode) {
        layer.confirm('再次点击将删除 ' + characterCode + ' ？', {
            title: '删除',
            btn: [' 删除 ', ' 再想想 '],
            icon: 3,
            skin: 'layui-layer-lan'
        }, function (index) {
            layer.close(index);
            $.ajax({
                url: '/creditData/deleteCreditCharacter',
                data: {
                    rowKey: $('#rowKey').val(),
                    tppCode: tppCode,
                    characterCode: characterCode
                },
                async: false,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    layer.msg(data.data);
                    loadDataTable(table);
                },
                error: function (data) {
                    var message = JSON.parse(data.responseText).message;
                    layer.msg(message, function () {
                    });
                }
            });
        });
    }

    function editCharacter(){
        $("#hbaseDataGrid").jqxGrid({editable: true});
        layer.msg("开启编辑模式");
    }
    /* 也不要删掉这行!!! ]]>*/
</script>
</html>
