<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width =device-width, initial-scale=1, maximum-scale=1"/>
    <title></title>
    <meta charset="utf-8"/>
    <!--layui的css-->
    <script type="text/javascript" src="/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/suiNavbar/sui.nav.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <script type="text/javascript" src="/common/common.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <script type="text/javascript" src="/layui/layui-xtree.js"></script>
    <script type="text/javascript" src="/menu/dist/typeit.min.js"></script>
    <script type="text/javascript" src="/menu/src/scripts.min.js"></script>
    <script type="text/javascript" src="/numberCount/count.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/ztree/privilege_role.js"></script>

    <link rel="stylesheet" type="text/css" href="/suiNavbar/sui.nav.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/menu/dist/typeit.min.css"/>
    <link rel="stylesheet" type="text/css" href="/menu/src/style.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-treeview.css">
    <style type="text/css">

    </style>
</head>
<body>
<form class="layui-form layui-form-pane"
      style="width: 600px; height: 100px; float: left;margin-left: 15px; margin-top: 15px">
    <div class="layui-form-item">
        <label class="layui-form-label">角色编号</label>
        <div class="layui-input-block">
            <input id="roleId" type="text" name="roleId" required lay-verify="required" placeholder="请输入角色编号"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-block">
            <input id="roleName" type="text" name="roleNam" required lay-verify="required" placeholder="请输入角色"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
</form>
<button class="layui-btn layui-btn layui-btn-lg" onclick="newRole()" data-type="auto"
        style="position:absolute; left: 700px;top: 75px">新增角色
</button>

<table id="roleTable" width="100%"></table>
<!--<table class="layui-table" lay-data="{url:'/role/getRoleData'}" width="100%">
    <thead>
    <tr>
        <th lay-data="{field:'roleId', width:200}"><p align="center">角色编码</p></th>
        <th lay-data="{field:'roleNam', width:150}"><p align="center">角色名称</p></th>
        <th lay-data="{field:'sign', minWidth: 180}"><p align="center">操作</p></th>
    </tr>
    </thead>
    <tbody>
    <tr style="height: 50px">
        <td style="text-align: center">40</td>
        <td style="text-align: center">金融网管</td>
        <td style="text-align: center">
            <div class="layui-btn-group">
                <button class="layui-btn" data-method="offset" data-type="auto" style="margin: 0">增加</button>
                <button class="layui-btn" style="margin: 0">编辑</button>
                <button class="layui-btn" style="margin: 0">删除</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>-->
</body>
</html>

<script type="text/javascript">
    var roleTable;

    function deleteRole(btn) {
        var id = $(btn).parent().parent().parent().children("td[data-field='id']").text();
        var roleName = $(btn).parent().parent().parent().children("td[data-field='roleName']").text();
        layer.msg('确定要删除[' + roleName + ']吗', {
            time: 20000,
            btn: ['确定', '我再想想'],
            yes: function () {
                var json = new Object();
                json.id = id;
                $.post('/role/deleteRole', json, function (result) {
                    roleTable.reload('roleTable', {data: result.data});
                });
                layer.closeAll();
            },
            btn2: function () {
                layer.closeAll();
            }
        });
    }

    function newRole() {
        var roleName = $("#roleName").val();
        var roleId = $("#roleId").val();
        if (roleName.trim() == '' || roleId.trim() == '') {
            layer.open({
                title: '提示信息'
                , content: '角色id或角色名不能为空'
            });
            return;
        }
        var json = new Object();
        json.roleName = roleName;
        json.roleId = roleId;
        $.post('/role/newRole', json, function (data) {
            if (data.isSuccess) {
                layer.open({
                    title: '提示信息'
                    , content: '角色添加成功'
                });
                roleTable.reload('roleTable', {
                    data: data.data,
                });
            } else {
                layer.open({
                    title: '提示信息'
                    , content: '角色添加失败'
                });
            }
        })
    }

    $(function () {
        layui.use('table', function () {
            roleTable = layui.table;
            roleTable.render({
                elem: '#roleTable',
                url: '/role/getRoleData'
                , page: false
                , cols: [[
                    {field: 'id', title: 'id', width: 200},
                    {field: 'roleId', title: '角色编码', width: 400}
                    , {field: 'roleName', title: '角色名称', width: 600}
                    , {
                        title: '操作', minWidth: 400, toolbar: '<div class="layui-btn-group">\n' +
                        '                <button class="layui-btn" data-method="offset" onclick="showRoleTree(this)" style="margin: 0">角色授权</button>\n' +
                        '                <button class="layui-btn" onclick="deleteRole(this)" style="margin: 0">删除</button>\n' +
                        '            </div>'
                    }
                ]],
                id: 'roleTable'
            });

        });
    })


    function showRoleTree(btn) {
        var roleId = $(btn).parent().parent().parent().children("td[data-field='roleId']").text();
        layer.open({
            type: 2
            , id: 'layerDemo'
            , content: '/role/tree?roleId='+roleId
            , btn: '关闭'
            , btnAlign: 'c'
            , shade: 0
            , offset: 't'
            , yes: function () {
                layer.closeAll();
            }
        });
    }


</script>