<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/ztree/zTreeStyle_Auth.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>

    <script type="text/javascript" src="/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/ztree/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="/ztree/jquery.ztree.excheck-3.5.min.js"></script>
    <script type="text/javascript" src="/ztree/jquery.ztree.exedit-3.5.min.js"></script>
    <script type="text/javascript" src="/ztree/privilege_role.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
</head>
<body>
<ul id="au_chage" class="ztree"></ul>
<button class="layui-btn layui-btn-small" onclick="inputRoleTree()" style="margin: 10px 10px">提交</button>
</body>
<script th:inline="javascript">
    var roleId = [[${roleId}]];
    $(document).ready(function () {
        showAuth(roleId);
    });
    function inputRoleTree() {
        saveAuth(roleId);
    }
</script>
</html>